doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="styles/style.css")
  body 
    nav
      .container
        h1 title 
        .menu 
          a(href="#").is-active home 
          a(href="#") About
          a(href="#") Project
          a(href="#") Contact
        button.hamburger.is-active#hamburger(onclick="toggleHamburger()")
          span 
          span 
          span 
    main 
      section https://www.youtube.com/watch?v=ZzQdVy8b8n4
    script(src="main.js") 